
{% include 'header.html' %}

<br>
<br>
<div class="row row-cols-5 row-cols-md-2 g-1 ">

    <div class="card w-25 text-center border-danger" >
        <div class="card-header bg-danger text-white border-danger">
               <h6><b style="font-size: 20px">КИИ</b></h6>
        </div>
        <div class="card-body">
            {% for k in KII: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-primary bg-danger border-danger"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-primary">
        <div class="card-header bg-primary text-white border-primary">
                <h6><b style="font-size: 20px">Безопасность банков</b></h6>
        </div>
        <div class="card-body">
            {% for k in bankSecurity: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-primary bg-primary border-primary"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-success ">
        <div class="card-header bg-success text-white border-success">
                 <h6><b style="font-size: 20px">Персональные данные</b></h6>
        </div>
        <div class="card-body">
            {% for k in personalData: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-primary bg-success border-success"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-warning">
        <div class="card-header bg-warning text-white border-warning">
                 <h6><b style="font-size: 20px">Технический контроль</b></h6>
        </div>
        <div class="card-body">
            {% for k in technicalControl: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-warning bg-warning border-warning"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-secondary">
        <div class="card-header bg-secondary text-white border-secondary">
                 <h6><b style="font-size: 20px">Руководящие документы</b></h6>
        </div>
        <div class="card-body">
            {% for k in primaryDocs: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-secondary bg-secondary border-secondary"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-warning" >
        <div class="card-header bg-warning text-white border-warning">
                 <h6><b style="font-size: 20px">Тайна</b></h6>
        </div>
        <div class="card-body">
            {% for k in secret: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-warning bg-warning border-warning"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-info">
        <div class="card-header bg-info text-white border-info">
                 <h6><b style="font-size: 20px">ГИС и МИС</b></h6>
        </div>
        <div class="card-body">
            {% for k in GISandMIS: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-primary bg-info border-info"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

    <div class="card w-25 text-center border-danger">
        <div class="card-header bg-danger text-white border-danger">
                 <h6><b style="font-size: 20px">Остальные документы</b></h6>
        </div>
        <div class="card-body">
            {% for k in allDocs: %}
            <p class="card-text"></p>
            <a href="{{k.href}}" class="btn btn-primary bg-danger border-danger"><b>{{ k.name }}</b></a>
            {% endfor %}
        </div>
    </div>

</div>

{% include 'footer.html' %}